.table-container{
  overflow-y: scroll;
  padding: 20px;
  background: #475e90;
  height: calc(100vh - 383px); ;
}
.table-title{
  display: flex;
  align-items: center;
  background: #879fd4;
  padding: 10px 0px;
  h2{
    padding-left: 20px;
    margin: 0px;
    color: rgb(255, 255, 255);
  }
}
