<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened fixedInViewport>
    <mat-toolbar>Reportes</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="homicidios" routerLinkActive="list-item-active">
        <div class="sidenav-ancor">
          <mat-icon>assignment</mat-icon>
          <span>Homicidios</span>
        </div>
      </a>
      <a mat-list-item routerLink="intervencion-legal" routerLinkActive="list-item-active">
        <div class="sidenav-ancor">
          <mat-icon>gavel</mat-icon>
          <span>Intervención Legal</span>
        </div>
      </a>
      <a mat-list-item routerLink="secuestros" routerLinkActive="list-item-active">
        <div class="sidenav-ancor">
          <mat-icon>report</mat-icon>
          <span>Secuestros</span>
        </div>
      </a>
      <a mat-list-item routerLink="robos" routerLinkActive="list-item-active">
        <div class="sidenav-ancor">
          <mat-icon>security</mat-icon>
          <span>Robos</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Reportes Estadísticos</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
