.chart-container{
  position: relative;
  height: calc(100vh - 340px); /* Adjust the height as needed */
  overflow-y: auto;
}
.chart-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #879fd4;
  padding: 10px 20px;
  h2{
    margin: 0px;
    color: rgb(255, 255, 255);
  }
}
